@font-face
  src url('@fonts/Montserrat-Regular.ttf')
  font-family Montserrat

@import './common.styl'
@import './loading.styl'

.instructions
  position absolute
  top 0
  height 100%
  width 100%
  background #000
  opacity 0.2
  z-index 3