@font-face
  src url('@fonts/Montserrat-Regular.ttf')
  font-family Montserrat

@import './common.styl'
@import './loading.styl'

.pointerDiv
  height 100%
  width 100%
  position absolute
  top 0
  left 0
  display flex
  justify-content center
  align-items center
  pointer-events none

.pointer
  height 3px
  width 3px
  border-radius 50%
  border 1px solid black
  pointer-events none

.instructions
  position absolute
  top 0
  height 100%
  width 100%
  background rgba(0,0,0,0.5)
  z-index 3
  display flex
  flex-direction column
  justify-content center
  align-items center

h1
  font-size 48px
  color #ffffff
  font-family Montserrat
  pointer-events none

p
  font-size 38px
  color #ffffff
  font-family Montserrat
  pointer-events none