@font-face
  src url('@fonts/Montserrat-Regular.ttf')
  font-family Montserrat

@import './common.styl'
@import './loading.styl'

.instructions
  position absolute
  top 0
  height 100%
  width 100%
  background rgba(0,0,0,0.5)
  z-index 3
  display flex
  justify-content center
  align-items center

h1
  font-size 48px
  color #ffffff
  font-family Montserrat
  pointer-events none
